<n1>Number: {{this.number}}</n1>
<button type='button' {{on 'click' this.addNumber}}>Add</button>

<LinkTo @route='item' @model='1' class='product'>
  <Product::Image />
  <Product::Details
    @color={{this.color}}
    @onChangeColor={{this.onChangeColor}}
  />
</LinkTo>